<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371870998572-uv2h20otjltjucmvp3k7qd4b7i8strh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371870998572-uv2h20otjltjucmvp3k7qd4b7i8strh0</string>
	<key>API_KEY</key>
	<string>AIzaSyDkNwoavAtyQYv8pkwZEysGB1hVDHoI3xg</string>
	<key>GCM_SENDER_ID</key>
	<string>371870998572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.zulfkhar.CADT</string>
	<key>PROJECT_ID</key>
	<string>cadt-c6e62</string>
	<key>STORAGE_BUCKET</key>
	<string>cadt-c6e62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371870998572:ios:68f698348ae660ace27189</string>
	<key>DATABASE_URL</key>
	<string>https://cadt-c6e62.firebaseio.com</string>
</dict>
</plist>